<div class='row mt-2 mb-4'>
  <%= image_tag current_user.get_profile_image, size:'50x50', class:'m-3' %>
  <div>
  <%= form_with model: new_post, local:true do |f| %>
    <div>
      <%= f.text_area :statement, placeholder:"投稿してみよう！", class:"form-control", id:"input-text", size:'60x3' %>
    </div>
    <div class='row'>
      <div class='col-6 text-left'>
        <%= f.text_field :category, placeholder:"タグをつける" %>
      </div>
      <div class='col-3 text-center'>
        <P class="js-text-count pull-right", id="counter">0文字</p>
      </div>
      <div class='col-3 text-right'>
        <%= f.submit "投稿する", class:'btn btn-info' %>
      </div>
      <% end %>
    </div>
  </div>
</div>