<!--投稿リスト-->
<% @posts.each do |post| %>
<div class='my-3'>
  <%= link_to user_path(post.user.id) do %>
    <%= image_tag post.user.get_profile_image, size:"50x50" %>
    <%= post.user.name %>
  <% end %>
  <div class='ml-5'>
    <%= post.statement %>
  </div>
  <div class='row ml-5 pl-5'>
    <i class="far fa-heart text-secondary"></i>
    <i class="fas fa-heart text-danger"></i>
    <p>いいね　</p>
    <i class="far fa-comment-dots"></i>
    <p>コメント　</p>
    <% if post.user == current_user %>
      <i class="fas fa-cube text-secondary"></i>
      <i class="fas fa-cube text-primary"></i>
      <p>ブックマーク　</p>
      <%= link_to '×(削除)', post, method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>
</div>
<% end %>
