<div class='container py-2'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <!--投稿-->
    <div class='col-8 offset-1'>
      <!--新規投稿フォーム-->
      <div class='row'>
        <%= render "public/shared/error_messages", resource: @new_post %>
      </div>
      <div class='row mt-2 mb-4'>
        <%= image_tag current_user.get_profile_image, size:'50x50', class:'m-3' %>
        <div>
        <%= form_with model: @new_post, local:true do |f| %>
          <div>
            <%= f.text_area :statement, placeholder:"投稿してみよう！(140字以内)", class:"form-control", size:'60x3' %>
          </div>
          <div class='row'>
            <div class='col-6 text-left'>
              <%= f.text_field :category, class:"form-control", placeholder:"タグをつける" %>
            </div>
            <div class='col-6 text-right'>
              <%= f.submit "投稿する", class:'btn btn-info' %>
            </div>
            <% end %>
          </div>
        </div>

      <!--タイムライン-->
      <div>
        <%= render 'public/posts/list', posts: @posts %>
      </div>
    </div>
    
  </div>
</div>
