<div class='container px-5'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <!--投稿-->
    <div class='col-6 offset-1 py-5'>
      <!--新規投稿-->
      <div>
        <%= image_tag current_user.get_profile_image, size:'50x50' %>
        <%= form_with model: @new_post, local:true do |f| %>
        <div>
          <%= f.text_area :statement, placeholder:"投稿してみよう！", size:'70x3' %>
        </div>
        <div>
          <%#= f.select :puzzle_categoriy, options_from_collection_for_select(), size:"50x20" %>
        </div>
        <div>
          <%= f.submit "投稿する", class:'btn btn-info' %>
        </div>
        <% end %>
      </div>
    
      <!--タイムライン-->
      <div>
        <%= render 'public/posts/list', posts: @posts %>
      </div>
      
    </div>
    
  </div>
</div>

