<div class='container px-5'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <!--投稿-->
    <div class='col-6 offset-1 py-5'>
      <!--新規投稿-->
      <div class='row'>
        <%= image_tag current_user.get_profile_image, size:'50x50' %>
        <div class='col-10'>
        <%= form_with model: @new_post, local:true do |f| %>
          <div>
            <%= f.text_area :statement, placeholder:"投稿してみよう！", size:'55x3' %>
          </div>
          <div class='row'>
            <div class='col-6 text-left'>
              <%= f.text_field :category, placeholder:"タグをつける" %>
            </div>
            <div>
              <%#= f.select :categoriy, PuzzleCategory.all.map { |puzzle_categoriy| [puzzle_categoriy.category, puzzle_categoriy.id] }, size:"50x20" %>
            </div>
            <div class='col-6 text-right'>
              <%= f.submit "投稿する", class:'btn btn-info' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <!--タイムライン-->
      <div>
        <%= render 'public/posts/list', posts: @posts %>
      </div>
      
    </div>
    
  </div>
</div>
