<div class='container py-2'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <div class='col-8 offset-1 py-5'>
      <!--投稿詳細-->
      <div class='row my-3'>
        
      <% if @post.status != "active" %>
        <div class='col-1'>
        <%= link_to user_path(@post.user.id) do %>
          <%= image_tag @post.user.get_profile_image, size:"50x50" %>
        </div>
        <div class='col-8'>
          <div class='col text-left'>
          <%= @post.user.name %>
        <% end %>
          </div>
          <div>
            <p class='p-4'>この投稿は削除されました。</p>
          </div>
        </div>

      <% else %>
        <div class='col-1'>
        <%= link_to user_path(@post.user.id) do %>
          <%= image_tag @post.user.get_profile_image, size:"50x50" %>
        </div>
        <div class='col-8'>
          <div class='row m-auto'>
            <div class='col-6 text-left'>
            <%= @post.user.name %>
        <% end %>
            </div>
            <div class='col-6 text-right'>
            <% if @post.puzzle_category_id.present? %>
              <%= link_to searches_path(word: @post.puzzle_category.category, range: 'タグ', search: "perfect_match") do %>
                <%= @post.puzzle_category.category %>
              <% end %>
            <% end %>
            </div>
          </div>
        
          <div class='row ml-3 mb-2'>
          <%= link_to post_path(@post), class:'text-dark text-decoration-none' do %>
            <%= @post.statement %>
          <% end %>
          </div>
        
          <!--いいね,コメント,ブックマーク,削除-->
          <div class='d-flex justify-content-end'>
            <p id="favorite_buttons_<%= @post.id %>" class='mx-3'>
              <%= render "public/favorites/favorite_btn", post: @post %>
            </p>
            <p class='mx-3'>
              <i class="far fa-comment-dots"></i><%= @post.post_comments.count %>
            </p>
            <p id="bookmark_buttons_<%= @post.id %>" class='mx-3'>
              <%= render "public/bookmarks/bookmark_btn", post: @post %>
            </p>
            <p class='ml-3'>
            <% if @post.user == current_user %>
              <%= link_to post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
              <i class="fas fa-times text-dark"></i>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      <% end %>
      </div>

      <!--コメント一覧-->
      <div>
        <%= render 'public/post_comments/list', comments: @comments %>
      </div>

      <!--新規コメント-->
      <% if @post.status == "active" %>
        <div class='row my-3'>
        <%= form_with model: [@post,@new_comment], local:true do |f| %>
          <div class="row">
            <div class="col-1 p-2">
              <div class="form-group"> 
                <%= image_tag current_user.get_profile_image, size:'50x50', class:'m-1' %>
              </div>
            </div>
            <div class="col-9 pr-1">
              <div class="form-group"> 
                <%= f.text_area :comment, placeholder:"コメントを書く", size:'57x3' %>
              </div>  
            </div>
            <div class="col-1 pl-1 mb-4 align-self-end">
              <%= f.hidden_field :post_id, :value => @post.id %>
              <%= f.submit "送信", class:'btn btn-info' %>
            </div>
          </div>
        <% end %> 
      </div>
      <% end %>
    </div>
      
  </div>
</div>
