<div class='container py-2'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>

    <div class='col-8 offset-1 mt-4'>
      <!--検索フォーム-->
      <div class='row'>
        <div class='col-9 text-center'>
        <%= form_with url: searches_path, local: true, method: :get do |f| %>
          <%= f.text_field :word, placeholder: "気になるワード" %>
          <%= f.select :range, options_for_select([['投稿'],['ユーザー'],['タグ']]) %>
          <%= f.submit "検索" %>
        <% end %>
        </div>
      </div>
      
      <!--検索結果-->
      <div>
      <% if @range == "投稿" && @posts.length > 0 %>
      <div class='row my-4'>
        <h5 class='col-9 text-center'>投稿に"<%= @word %>"を含む検索結果</h5>
      </div>
        <%= render 'public/posts/list', posts: @posts %>
      
        <% elsif @range == "ユーザー" && @users.length > 0 %>
          <div class='row my-4'>
            <h5 class='col-9 text-center'>ユーザー名に"<%= @word %>"を含む検索結果</h5>
          </div>
          <%= render 'public/user/index', users: @users %>
          
          <% elsif @range == "タグ" && @posts.length > 0 %>
          <div class='row my-4'>
            <h5 class='col-9 text-center'>タグに"<%= @word %>"を含む検索結果</h5>
          </div>
          <%= render 'public/posts/list', posts: @posts %>
        
        <% else %>
          <div class='row my-4'>
            <h6 class='col-9 text-center'>一致するものはありませんでした</h6>
          </div>
      <% end %>
      </div>
      
    </div>
    
  </div>
</div>
