<div class='container my-5'>
  <div class='row justify-content-center py-4'>
    <h2>お問い合わせ</h2>
  </div>
  <div class='row justify-content-center'>
  <%= form_with model: @contact, url: contacts_create_path, local:true do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder:"名前(必須)", class:"form-control name" %>
    </div>
    <div class="form-group py-2">
      <%= f.text_field :email, placeholder:"メールアドレス(必須)", class:"form-control email" %>
    </div>
    <div class="form-group">
      <%= f.text_area :contact_detail, placeholder:"お問い合わせ内容をご記入ください(800字以内)", size:"60x8", class:"form-control contact_detail" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit "送信", data: { confirm: "送信してもよろしいですか？" }, class:'btn btn-info px-5 mb-2' %>
    </div>
  <% end %>
  </div>
  <div class='row justify-content-center my-3'>
    <p class='text-center'>お問い合わせいただいたご意見・ご要望は大切に確認し、今後の開発やサービス向上に役立ててまいります。<br>
      個別の回答はできかねますので、あらかじめご了承ください。<br>
      個人情報の取り扱いに関しましては、利用規約をご覧ください。</p>
  </div>
</div>
