<div class='container'>
  
  <div class='row justify-content-center'>
    <div class='text-center my-5'>
      <h2><strong>Cuber</strong>へ、ようこそ！</h2>
      <%= link_to root_path(anchor: 'about'), class:'btn btn-outline-secondary my-3' do %>
        Cuberってなに？<i class="fas fa-arrow-right"></i>
      <% end %>
    </div>
  </div>

  <div class='row py-5 justify-content-center'>
    <div class='col-5 mx-3 mb-5'>
      <h6 class='border border-2 py-1 text-center'>人気投稿</h6>
      <% @popular_posts.each do |post| %>
      <div class='row mt-3 mb-2'>
        <div class='col-2 border-bottom'>
        <%= link_to new_user_session_path, class:'text-dark text-decoration-none' do %>
          <%= image_tag post.user.get_profile_image, size:"50x50" %>
        </div>
        <div class='col-10 px-1 border-bottom'>
          <%= post.user.name %>
          <div class='my-1'>
            <%= post.statement %>
          </div>
          <div class='d-flex justify-content-end pr-1'>
            <p class='m-2'><i class="fas fa-heart text-danger"></i><%= post.favorites.count %></p>
            <p class='m-2'><i class="far fa-comment-dots"></i><%= post.post_comments.count %></p>
            <p class='m-2'><i class="fas fa-cube text-primary"></i>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class='col-5 mx-3 mb-5'>
      <h6 class='border border-2 py-1 text-center'>新着投稿</h6>
      <% @new_posts.each do |post| %>
      <div class='row mt-3 mb-2'>
        <div class='col-2 border-bottom'>
        <%= link_to new_user_session_path, class:'text-dark text-decoration-none' do %>
          <%= image_tag post.user.get_profile_image, size:"50x50" %>
        </div>
        <div class='col-10 px-1 border-bottom'>
          <%= post.user.name %>
          <div class='my-1'>
            <%= post.statement %>
          </div>
          <div class='d-flex justify-content-end pr-1'>
            <p class='m-2'><i class="fas fa-heart text-danger"></i><%= post.favorites.count %></p>
            <p class='m-2'><i class="far fa-comment-dots"></i><%= post.post_comments.count %></p>
            <p class='m-2'><i class="fas fa-cube text-primary"></i>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  <div class='row justify-content-center contents_about' id='about'>
    <div class='col-8'>
      <h3><strong>Cuber</strong></h3><p>キューバー</p>
      <p>当サイトは、立体パズルのコミュニティサイトです。<br>
      立体パズル (cube) について、自由に語らうバー (ber) のような場所。<br>
      今日ここに居合わせた誰かと、お話してみませんか？</p>
    </div>
    <div class='col-2'>
      <%= image_tag 'cube.png', size:'150x150' %>
    </div>
  </div>
  <div class='row justify-content-center py-5'>
    <div class='col-3 text-center'>
      <table class='table table-bordered'>
        <tr>
          <td>
            <strong>first</strong>
          </td>
        </tr>
        <tr>
          <td>
            立体パズルって何だろう？<br>
            ちょっとやってみたい。<br>
            語ってみたい。<br>
            ↓<br>
            Cuberに投稿してみる<br>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:'btn btn-secondary my-2' %><br>
            ゲストログインでは、ログアウトまたは1日経過すると投稿やコメントがリセットされます。
          </td>
        </tr>
      </table>
    </div>
    
    <div class='col-3 text-center'>
      <table class='table table-bordered'>
        <tr>
          <td>
            <strong>search</strong>
          </td>
        </tr>
        <tr>
          <td>
            立体パズルの揃え方が<br>
            分からない…、<br>
            いいサイトないかな？<br>
            
            新しい立体パズルを<br>
            買いたい…、<br>
            どれを買おうかな？<br>
            
            ↓<br>
            
            困ったときは…<br>
            <%= link_to "キーワード検索", top_searches_path, class:'btn btn-secondary my-2' %><br>
          </td>
        </tr>
      </table>
    </div>
    
    <div class='col-3 text-center'>
      <table class='table table-bordered'>
        <tr>
          <td>
            <strong>record</strong>
          </td>
        </tr>
        <tr>
          <td>
            気軽にいいねしてみたり、<br>
            パズルを揃えたタイムを<br>
            記録してみたり、<br>
            
            読み返したい投稿には<br>
            ブックマークをつけて、<br>
            自分だけの本棚を<br>
            作ってみたり。<br>
            
            使い方はいろいろ。<br>
            <%= link_to "新規登録", new_user_registration_path, class:'btn btn-secondary my-2' %>
          </td>
        </tr>
      </table>
    </div>
    
    <div class='col-3 text-center'>
      <table class='table table-bordered'>
        <tr>
          <td>
            <strong>share</strong>
          </td>
        </tr>
        <tr>
          <td>
            楽しさを共有しよう。<br>
            Cuberにフォロー機能は<br>
            ありません。<br>
            あなたの投稿に知らない誰かからコメントが来るかも。<br>
            あなたも気になる投稿に<br>
            気軽にコメントして<br>
            みましょう！<br>
            <%= link_to "ログイン", new_user_session_path, class:'btn btn-secondary my-2' %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class='row justify-content-center contents_how' id='how'>
    <h6 class='btn btn-outline-secondary my-3'>Cuberの使い方</h6>
  </div>
  <div class='row justify-content-center'>
    <%= image_tag 'Cuber_introduction.jpg', size:'1000x450' %>
  </div>
  <div class='row justify-content-center'>
    <div class='text-center my-4'>
      <h6>Cuberを体験してみる<i class="fas fa-arrow-down"></i></h6>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class:'btn btn-secondary my-2' %>
    </div>
  </div>

</div>
