<!--user-info-->
<div class='col-3 text-center my-5'>
  <% if user == current_user %>
    <%= image_tag current_user.get_profile_image, size:'100x100' %>
    
    
    
    <p>貰ったいいね数</p>
    <p class='pb-3 border-bottom'>
      <i class="fas fa-heart text-danger"></i><%#= user_posts %></p>
    

    <%= link_to "マイページ", user_path(current_user), class:'text-dark' %><br>
    <%= link_to "コメント", comments_path(current_user), class:'text-dark' %><br>
    <%= link_to "いいね", favorites_path(current_user), class:'text-dark' %><br>
    <%= link_to "ブックマーク", bookmarks_path, class:'text-dark' %><br>
    <%= link_to "設定", edit_user_settings_path, class:'text-dark' %>
  <% else %>
    <%= image_tag user.get_profile_image, size:'100x100' %>
    <p>貰ったいいね数</p>
    <i class="fas fa-heart text-danger"></i><%= user_posts %></p>
    <%= link_to "投稿", user_path(user), class:'text-dark' %><br>
    <%= link_to "コメント", comments_path(user), class:'text-dark' %><br>
    <%= link_to "いいね", favorites_path(user), class:'text-dark' %><br>
  <% end %>
</div>
