<!--user-info-->
<div class='col-3 text-center my-4'>
  <% if (user == current_user) && (user.email != "guest@example.com") %>
    <%= image_tag current_user.get_profile_image, size:'100x100' %>
    <h5 class='py-3'><%= user.name %></h5>
    <div>貰ったいいね数</div>
    <div class='row border-bottom justify-content-center pt-2 pb-3'>
      <div class='col-2'>
        <i class="fas fa-heart text-danger"></i>
      </div>
      <div class='col-3'> 
        <%= Favorite.total_favorites(user) %>
      </div>
    </div>
    
    <div class='mt-4'>
      <%= link_to "新着投稿", posts_path, class:'text-dark py-2' %>
    </div>
    <div class='my-2'>
      <%= link_to "マイページ", user_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "コメント", comments_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "いいね", favorites_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "ブックマーク", bookmarks_path, class:'text-dark' %>
    </div>
    <div class='my-2'>
      <% if user.email != "guest@example.com" %>
        <%= link_to "設定", edit_user_settings_path, class:'text-dark' %>
      <% end %>
    </div>

  <% elsif user == current_user %>
    <%= image_tag current_user.get_profile_image, size:'100x100' %>
    <h5 class='py-3'><%= user.name %></h5>
    <div>貰ったいいね数</div>
    <div class='row border-bottom justify-content-center pt-2 pb-3'>
      <div class='col-2'>
        <i class="fas fa-heart text-danger"></i>
      </div>
      <div class='col-3'> 
        <%= Favorite.total_favorites(user) %>
      </div>
    </div>
    
    <div class='mt-4'>
      <%= link_to "新着投稿", posts_path, class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "マイページ", user_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "コメント", comments_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "いいね", favorites_path(current_user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "ブックマーク", bookmarks_path, class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'btn btn-outline-secondary my-3' %>
    </div>

  <% else %>
    <%= image_tag user.get_profile_image, size:'100x100' %>
    <h5 class='py-3'><%= user.name %></h5>
    <div>貰ったいいね数</div>
    <div class='row border-bottom justify-content-center pt-2 pb-3'>
      <div class='col-2'>
        <i class="fas fa-heart text-danger"></i>
      </div>
      <div class='col-3'> 
        <%= Favorite.total_favorites(user) %>
      </div>
    </div>
    
    <div class='mt-4'>
      <%= link_to "新着投稿", posts_path, class:'text-dark' %>
    </div>
    <div class='mt-4'>
      <%= link_to "投稿", user_path(user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "コメント", comments_path(user), class:'text-dark' %>
    </div>
    <div class='my-2'>
      <%= link_to "いいね", favorites_path(user), class:'text-dark' %>
    </div>
  <% end %>
</div>
