<div class='container p-2'>
  <!--検索フォーム-->
  <div class='row justify-content-center'>
  <%= form_with url: admin_searches_path, local: true, method: :get do |f| %>
    <%= f.text_field :word, placeholder: "気になるワード" %>
    <%= f.select :range, options_for_select([['投稿'],['コメント'],['ユーザー'],['タグ']]) %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索" %>
  <% end %>
  </div>
  
  <!--検索結果-->
  <div class='row justify-content-center'>
  <% if @range == "投稿" && @posts.length > 0 %>
    <!--投稿リスト-->
    <div class='col-6'>
      <h5 class='text-center my-3'>投稿に"<%= @word %>"を含む検索結果</h5>
      <%= render 'admin/searches/posts_list', posts: @posts %>
    </div>
    
    <% elsif  @range == "コメント" && @comments.length > 0 %>
    <!--コメントリスト-->
    <div class='col-6'>
      <h5 class='text-center my-3'>コメントに"<%= @word %>"を含む検索結果</h5>
      <% @comments.each do |comment| %>
      <div class='row justify-content-center my-3'>
        <div class='col-1 border-bottom'>
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, size:"50x50" %>
        </div>  
        <div class='col-9 pl-4 border-bottom'>
          <div class='row m-auto'>
            <%= comment.user.name %>
          <% end %>
          </div>
          <div class='row ml-1 mb-2'>
          <%= link_to admin_post_comments_path(comment.user), class:'text-dark text-decoration-none' do %> 
            <%= comment.comment %>
          <% end %>
          </div>
          <div class='row d-flex justify-content-end pr-1'>
            <%= link_to admin_post_comment_path(comment), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' } do %>
              <p><i class="fas fa-times text-dark"></i></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @comments %>
    </div>
    
    <% elsif  @range == "ユーザー" && @users.length > 0 %>
    <!--ユーザーリスト-->
    <div class='col-7'>
      <h5 class='text-center my-3'>ユーザー名に"<%= @word %>"を含む検索結果</h5>
      <% @users.each do |user| %>
      <div class='row justify-content-center my-3'>
        <div class='col-1 border-bottom'>
        <%= link_to admin_user_path(user), class:'text-dark text-decoration-none' do %>
          <%= image_tag user.get_profile_image, size:"50x50" %>
        </div>
        <div class='col-10 border-bottom'>
          <div class='row m-auto'>
            <div class='col-6 text-left'>
              <strong><%= user.name %></strong>
            </div>
            <div class='col-6 pt-2 pr-3 text-right'>
              <i class="fas fa-heart text-danger"></i><%= Favorite.total_favorites(user) %>
            </div>
          </div>
          <div class='row mx-2 mb-2'>
          <%= user.profiles %>
        <% end %>
        </div>
        </div>
      </div>
      <% end %>
      <%= paginate @users %>
    </div>
    
    <% elsif  @range == "タグ" && @posts.length > 0 %>
    <!--パズルタイプリスト-->
    <div class='col-6'>
      <h5 class='text-center my-3'>投稿に"<%= @word %>"を含む検索結果</h5>
      <%= render 'admin/searches/posts_list', posts: @posts %>
    </div>
    
    <% else %>
    <div class='col-6'>
      <p class="text-center p-4">一致するものはありませんでした</p>
    </div>
  <% end %>
  </div>
</div>
