<div class='container p-2'>
  <div class='row justify-content-center my-2'>
    <h4>お問い合わせ</h4>
  </div>

  <div class='row justify-content-center'>
    <%= paginate @contacts %>
    <table class='table table-bordered table-hover' style='table-layout:fixed;'>
      <thead class='table-secondary text-center'>
        <tr>
          <th class='col-1'>日付</th>
          <th class='col-2'>氏名</th>
          <th class='col-2'>メールアドレス</th>
          <th class='col-4'>お問い合わせ内容</th>
          <th class='col-1'>対応状況</th>
          <th class='col-1'></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <td class='text-center'>
            <%= contact.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td class='text-center'>
            <%= contact.name %>
          </td>
          <td class='text-center'>
            <%= contact.email %>
          </td>
          <td style="word-wrap: break-word;" height="auto">
            <div style="max-height:100px; overflow-y:auto;">
              <%= contact.contact_detail %>
            </div>
          </td>
          <td class='text-center'>
            <%= contact.supported_status_i18n %>
          </td>
          <td class='text-center'>
            <%= link_to "詳細", edit_admin_contact_path(contact), class:'btn btn-warning' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
