<div class='container'>
  <div class='row justify-content-center mt-5'>
    <h2>新規登録</h2>
  </div>
  <div class='row justify-content-center'>
    <%= render "public/shared/error_messages", resource: resource %>
  </div>
  
  <%= form_with model: @user, url: user_registration_path do |f| %>
    <div class='row justify-content-center'>
      <table class="table table-borderless">
        <tr>
          <td class='text-right'><%= f.label :ユーザー名 %></td>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <td class='text-right'><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td class='text-right'><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td class='text-right'><%= f.label :"パスワード(確認用)" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>

      <%= f.submit "新規登録", class:'btn btn-outline-success mb-4 px-5' %>
    </div>
  <% end %>
    
  <div class='row justify-content-center p-3 border-top'>
    <div class='col m-auto text-center'>
      <p>既に登録済みの方はこちら<br>
      <%= render "public/shared/links" %></p>
    </div>
  </div>
  
</div>
