<div class='container px-5'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <!--user詳細-->
    <div class='col-6 offset-1 py-5'>
      <h4><%= current_user.name %></h4>
      <div class='d-flex justify-content-end'>
        <%= link_to "編集", edit_user_profiles_path, class:'btn btn-info ml-5' %>
      </div>
      <p class='mb-5'><%= current_user.profiles %></p>
    
      <!--userブックマーク一覧-->
      <% @bookmarked_posts.each do |bookmarked_post| %>
      <div class='my-3'>
        <div class='row'>
          <div>
          <%= link_to user_path(bookmarked_post.user) do %>
            <%= image_tag bookmarked_post.user.get_profile_image, size:"50x50" %>
          </div>
          <div class='col'>
            <%= bookmarked_post.user.name %>
          <% end %>
          </div>
          <div class='col text-right'>
          <%= link_to user_path(bookmarked_post.user) do %>
            <% if bookmarked_post.puzzle_category_id.present? %>
              <%= bookmarked_post.puzzle_category.category %>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class='ml-5'>
        <%= link_to post_path(bookmarked_post), class:'text-dark text-decoration-none' do %>
          <%= bookmarked_post.statement %>
        <% end %>
        </div>
        
        <!--いいね,コメント,ブックマーク,削除-->
        <div class='d-flex justify-content-end'>
    <p class='mx-3'>
    <% if bookmarked_post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(bookmarked_post), method: :delete do %>
        <i class="fas fa-heart text-danger"></i><%= bookmarked_post.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(bookmarked_post), method: :post do %>
        <i class="far fa-heart text-secondary"></i><%= bookmarked_post.favorites.count %>
      <% end %>
    <% end %>
    </p>
    <p class='mx-3'>
      <i class="far fa-comment-dots"></i><%= bookmarked_post.post_comments.count %>
    </p>
    <p class='mx-3'>
    <% if bookmarked_post.bookmarked_by?(current_user) %>
      <%= link_to post_bookmarks_path(bookmarked_post), method: :delete do %>
        <i class="fas fa-cube text-primary"></i>
      <% end %>
    <% else %>
      <%= link_to post_bookmarks_path(bookmarked_post), method: :post do %>
        <i class="fas fa-cube text-secondary"></i>
      <% end %>
    <% end %>
    </p>
    <p class='ml-3'>
    <% if bookmarked_post.user == current_user %>
      <%= link_to post_path(bookmarked_post), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
        <i class="fas fa-times text-dark"></i>
      <% end %>
    <% end %>
    </p>
  </div>
</div>
<% end %>
      
      <div>
        <%#= render 'public/posts/list', posts: @bookmarked_posts %>
      </div>
      
    </div>
    
  </div>
</div>