<!DOCTYPE html>
<html>
  <head>
    <title>Cuber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--ファビコン(タブアイコン)-->
    <%= favicon_link_tag 'favicon.ico' %>
    <!--link = assets/, pack = javascript/ をそれぞれ参照する-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--bootstrapをyarn(js)でインストールしWebpackerで管理-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='sticky-top'>
      <!--ユーザーがログインしているとき-->
      <% if user_signed_in? %>
      <nav class='navbar navbar-expand-sm bg-light'>
        <%= link_to posts_path, class:'nav-link' do %>
          <%= image_tag 'Cuber_logo.png', size:'65x65' %>
        <% end %>
        <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5'>
          <!--検索フォーム-->
          <div>
          <%= form_with url: searches_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, placeholder: "気になるワード" %>
            <%= f.select :range, options_for_select([['投稿'], ['ユーザー'], ['タグ']]) %>
            <%= f.submit "検索" %>
          <% end %>
          </div>
        </div>
      </nav>

      <!--管理者がログインしているとき-->
      <% elsif admin_signed_in? %>
      <nav class='navbar navbar-expand-md navbar-light bg-light'>
        <%= image_tag 'Cuber_logo.png', size:'80x80' %>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5' id='navbarSupportedContent'>
            <!--ヘッダー見出し-->
            <ul class='nav navbar-nav m-auto pt-4'>
              <li>
                <%= link_to "お問い合わせ一覧", admin_root_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li>
                <%= link_to "ユーザー一覧", admin_users_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li>
                <%= link_to "検索", admin_searches_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class:'nav-link text-dark mx-3' %>
              </li>
            </ul>
          </div>
        </nav>

      <!--ログインしていないとき-->
      <% else %>
      <nav class='navbar navbar-expand-md navbar-light bg-light'>
          <%= link_to root_path, class:'navbar-brand nav-link' do %>
          <%= image_tag 'Cuber_logo.png', size:'100x100' %>
        <% end %>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5' id="navbarSupportedContent">
            <!--検索フォーム-->
            <div>
            <%= form_with url: top_searches_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: "気になるワード" %>
            <%= f.submit "検索" %>
          <% end %>
            </div>
            <!--ヘッダー見出し-->
            <ul class='nav navbar-nav m-auto'>
              <li class='nav-item'>
                <%= link_to "TOP", root_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li class='nav-item'>
                <%= link_to "Cuberってなに？", root_path(anchor: 'about'), class:'nav-link text-dark mx-3' %>
              </li>
              <li class='nav-item'>
                <%= link_to "使い方", root_path(anchor: 'how'), class:'nav-link text-dark mx-3' %>
              </li>
              <li class='nav-item'>
                <%= link_to "新規登録", new_user_registration_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li class='nav-item'>
                <%= link_to "ログイン", new_user_session_path, class:'nav-link text-dark mx-3' %>
              </li>
              <li class='nav-item'>
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:'nav-link text-dark mx-3' %>
              </li>
            </ul>
          </div>
      </nav>

      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class='fixed-bottom'>
      <% if user_signed_in? %>
      <div class='row bg-light py-sm-3 py-lg-4 justify-content-center'>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "お問い合わせ", contacts_new_path %></p>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "利用規約", terms_path %></p>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "運営", management_path %></p>
      </div>
      <% else %>
      <div class='row bg-light py-sm-4 py-lg-5 justify-content-center'>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "お問い合わせ", contacts_new_path %></p>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "利用規約", terms_path %></p>
        <p class='col-sm-3 col-lg-1 text-center'><%= link_to "運営", management_path %></p>
      </div>
      <% end %>
    </footer>
    
  </body>
</html>
