<!DOCTYPE html>
<html>
  <head>
    <title>Cuber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--link = assets/, pack = javascript/ をそれぞれ参照する-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--bootstrapをyarn(js)でインストールしWebpackerで管理-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='sticky-top'>
      <!--ユーザーがログインしているとき-->
      <% if user_signed_in? %>
      <nav class='navbar navbar-expand-md bg-light'>
        <%= link_to posts_path, class:'nav-link' do %>
          <%= image_tag 'Cuber_logo.png', size:'65x65' %>
        <% end %>
        <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5'>
          <!--検索フォーム-->
          <div>
          　<p>検索ボックス予定地</p>
          </div>
        </div>
      </nav>

      <!--管理者がログインしているとき-->
      <% elsif admin_signed_in? %>
      <nav class='navbar navbar-expand-md bg-light'>
          <%= image_tag 'Cuber_logo.png', size:'100x100' %>
          <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5'>
            <!--ヘッダー見出し-->
            <ul class='nav navbar-nav m-auto'>
              <li>
                <%= link_to "TOP", admin_contucts_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "ユーザー一覧", admin_users_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "検索", admin_searches_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, class:'nav-link text-dark' %>
              </li>
            </ul>
          </div>
        </nav>

      <!--ログインしていないとき-->
      <% else %>
      <nav class='navbar navbar-expand-md bg-light'>
          <%= link_to root_path, class:'nav-link' do %>
          <%= image_tag 'Cuber_logo.png', size:'100x100' %>
        <% end %>
  
          <div class='collapse navbar-collapse flex-column order-md-last align-items-end mr-5'>
            <!--検索フォーム-->
            <div>
            　<p>検索ボックス予定地</p>
            </div>
            <!--ヘッダー見出し-->
            <ul class='nav navbar-nav m-auto'>
              <li>
                <%= link_to "TOP", root_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "Cuberってなに？", root_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "使い方", root_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path, class:'nav-link text-dark' %>
              </li>
              <li>
                <%= link_to "ゲストログイン", root_path, class:'nav-link text-dark' %>
              </li>
            </ul>
          </div>
      </nav>

      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <% if user_signed_in? %>
      <div class='bg-light pt-4 pb-2 text-dark text-center'>
        <p>
          <%= link_to "お問い合わせ　", contacts_new_path %>
          <%= link_to "利用規約　", terms_path %>
          <%= link_to "運営", management_path %>
        </p>
      </div>
      <% else %>
      <div class='bg-light p-5 text-dark text-center'>
        <p>
          <%= link_to "お問い合わせ　", contacts_new_path %>
          <%= link_to "利用規約　", terms_path %>
          <%= link_to "運営", management_path %>
        </p>
      </div>
      <% end %>
    </footer>
    
  </body>
</html>
